
<!-- 
    https://codepen.io/quinlo/pen/YONMEa 
    https://www.w3schools.com/howto/howto_css_checkout_form.asp
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_labels
    https://www.thriftbooks.com/
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_column_cards
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">


<head >
    <title>Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <style>

        .body{
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
        }

        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          max-width: 200px;
          max-height: 1000px;
          margin: auto;
          text-align: center;
          font-family: arial;
          background-color: #FFF5E8;
          border-color: #ff00ff;
          overflow: auto;
        }
        
        .price {
          color: #E53E3E;
          font-size: 18px;
        }
        
        .card button {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          background-color: rgb(71, 15, 244);
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }
        
        .card button:hover {
          opacity: 0.7;
        }
        .description{
            font-size: 14px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .img{
            width:100%;
            height:220px ;
        }
        .row {margin: 0 -5px;}
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        * {
            box-sizing: border-box;
        }
        .column {
            float: left;
            width: 20%;
            padding: 0 10px;
        }
        @media screen and (max-width: 800px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }


    </style>
</head>

<body>

<div  th:insert="navigation :: navigation"></div>
<form name="form" th:object="${command}" method="post" action="">
<input type="hidden" name="email" id="email" th:field="*{user}" />
<div class="body">
    <a th:href="@{/shoppingcart?email={user}(user=${email})}">Shopping Cart</a>
    <div class="row">
        <div class ="column">
             <div class="card">
                 <img class="img" th:src="@{/images/the-christmas-pig.jpg}"/>
                 <h3>The Christmas Pig</h3>
                 <p>J.K.Rowling</p>
                 <p>ISBN: 1338790234</p>
                 <p class="price">$21.99</p>
                 <p class="description">
                    Adventure about one child's love for his most treasured thing,
                    and how far he will go to find it. A tale for the whole family to fall in love with.
                    One boy and his toy are about to change everything...
                 </p>
                <!--<p><button>Add to Cart</button></p>-->
                <p><input type="text" id="quantity1" value="1" th:field="*{quantity1}" name=quantity1 style="width: 50px;"/><button type="submit" name="action" id="btnBook1" th:value="1">Add to Cart</button></p>
             </div>
        </div>

        <div class ="column">
            <div class="card">
                <img class="img" th:src="@{/images/diary-of-a-wimpy-kid-big-shot.jpg}"/>
                <h3>Diary of a Wimpy Kid</h3>
                <p>Jeff Kinney</p>
                <p>ISBN: 1419749153</p>
                <p class="price">$13.87</p>
                <p class="description">
                    After a disastrous field day competition at school,
                    Greg decides that when it comes to his athletic career,
                    he's officially retired. But after his mom urges him to give sports one more chance ...
                </p>
                <p><input type="text" id="quantity1" value="1" th:field="*{quantity2}" name=quantity1 style="width: 50px;"/><button type="submit" name="action" id="btnBook2" value="2">Add to Cart</button></p>
            </div>
        </div>

        <div class ="column">
            <div class="card">
                <img class="img" th:src="@{/images/Fizban_Treasury_of_Dragons.jpg}"/>
                <h3>Fizban's Treasury of Dragons</h3>
                <p>Wizards RPG Team</p>
                <p>ISBN: 0786967293</p>
                <p class="price">$41.97</p>
                <p class="description">
                    Unlikely war hero, divine avatar of a dragon-god--and your guide to the mysteries of dragonkind.
                    What is the difference between a red dragon and a gold dragon?...
                </p>
                <p><input type="text" id="quantity1" value="1" th:field="*{quantity3}" name=quantity1 style="width: 50px;"/><button type="submit" name="action" id="btnBook3" value="3">Add to Cart</button></p>
            </div>
        </div>

        <div class ="column">
            <div class="card">
                <img class="img" th:src="@{/images/the_hobbit.jpg}"/>
                <h3>The Hobbit or There and Back Again</h3>
                <p>J.R.R. Tolkien</p>
                <p>ISBN: B009MSFXRQ</p>
                <p class="price">$3.59</p>
                <p class="description">
                    A glorious account of a magnificent adventure, filled with suspense and seasoned with a quiet humor that is irresistible.
                    A fine adventurous tale...
                </p>
                <p><input type="text" id="quantity1" value="1" th:field="*{quantity4}" name=quantity1 style="width: 50px;"/><button type="submit" name="action" id="btnBook4" value="4">Add to Cart</button></p>
            </div>
        </div>

        <div class ="column">
            <div class="card">
                <img class="img" th:src="@{/images/guinness-world-records.jpg}"/>
                <h3>Guinness World Records 2022</h3>
                <p>Unknown</p>
                <p>ISBN: 1913484106</p>
                <p class="price">$25.29</p>
                <p class="description">
                    Guinness World Records 2022 provides a fascinating snapshot of our world today.
                    Our editors have chosen to curate the book with environmental issues at the forefront of their mind,...
                </p>
                <p><input type="text" id="quantity1" value="1" th:field="*{quantity5}" name=quantity1 style="width: 50px;"/><button type="submit" name="action" id="btnBook5" value="5">Add to Cart</button></p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class ="column">
            <div class="card">
                <img class="img" th:src="@{/images/the-thing-they-carried.jpg}"/>
                <h3>The Things They Carried</h3>
                <p>Tim O'Brien</p>
                <p>ISBN: 0767902890</p>
                <p class="price">$4.69</p>
                <p class="description">
                    A collection of interrelated short pieces which ultimately reads with the dramatic force and tension of a novel.
                    Yet each one of the twenty-two short pieces is written with such...
                </p>
                <p><input type="text" id="quantity1" value="1" th:field="*{quantity6}" name=quantity1 style="width: 50px;"/><button type="submit" name="action" id="btnBook6" value="6">Add to Cart</button></p>
            </div>
        </div>

        <div class ="column">
            <div class="card">
                <img class="img" th:src="@{/images/the-girl-with-the-dragon-tatoo.jpg}"/>
                <h3>The Girl with the Dragon Tattoo</h3>
                <p>Stieg Larsson</p>
                <p>ISBN: 0307454541</p>
                <p class="price">$4.69</p>
                <p class="description">
                    Harriet Vanger, a scion of one of Sweden's wealthiest families disappeared over forty years ago.
                    All these years later, her aged uncle continues to seek the truth. ...
                </p>
                <p><input type="text" id="quantity1" value="1" th:field="*{quantity7}" name=quantity1 style="width: 50px;"/><button type="submit" name="action" id="btnBook7" value="7">Add to Cart</button></p>
            </div>
        </div>

        <div class ="column">
            <div class="card">
                <img class="img" th:src="@{/images/the-giving-tree.jpg}"/>
                <h3>The Giving Tree</h3>
                <p> Shel Silverstein</p>
                <p>ISBN: 0060256702</p>
                <p class="price">$30.89</p>
                <p class="description">
                    The Giving Tree , a story of unforgettable perception, beautifully
                    written and illustrated by the gifted and versatile
                    Shel Silverstein, has been a classic favorite for generations.
                    The gift of giving...
                </p>
                <p><input type="text" id="quantity1" value="1" th:field="*{quantity8}" name=quantity1 style="width: 50px;"/><button type="submit" name="action" id="btnBook8" value="8">Add to Cart</button></p>
            </div>
        </div>

        <div class ="column">
            <div class="card">
                <img class="img" th:src="@{/images/will.jpg}"/>
                <h3>Will</h3>
                <p>Mark Manson and Will Smith</p>
                <p>ISBN: 1984877925</p>
                <p class="price">$26.05</p>
                <p class="description">
                    One of the most dynamic and globally recognized entertainment forces of our time opens up fully about his life,
                    in a brave and inspiring book that traces his learning curve to....
                </p>
                <p><input type="text" id="quantity1" value="1" th:field="*{quantity9}" name=quantity1 style="width: 50px;"/><button type="submit" name="action" id="btnBook9" th:value="9">Add to Cart</button></p>
            </div>
        </div>

        <div class ="column">
            <div class="card">
                <img class="img" th:src="@{/images/llama-llama-red-pajama.jpg}"/>
                <h3>Llama Llama Red Pajama</h3>
                <p>Anna Dewdney</p>
                <p>ISBN: 0439906652</p>
                <p class="price">$26.05</p>
                <p class="description">
                    A summer of green apple trees, mowed lawns, and new sneakers.
                    Of half-burnt firecrackers, of gathering dandelions.
                    It was a summer of sorrows and marvels....
                </p>
                <p><input type="text" id="quantity2" value="1" th:field="*{quantity10}" name=quantity2 style="width: 50px;"/><button type="submit" name="action" id="btnBook10" th:value="10">Add to Cart</button></p>
            </div>
        </div>
    </div>

<!--        <div class ="column">-->
<!--        <div class="card">-->
<!--            <img class="img" th:src="@{/images/pete-the-cat.jpg}"/>-->
<!--            <h3>Pete the Cat I Love My White Shoes</h3>-->
<!--            <p>Eric Litwin and James Dean</p>-->
<!--            <p>ISBN: 0545419662</p>-->
<!--            <p class="price">$4.19</p>-->
<!--            <p class="description">-->
<!--                Along the way, his shoes change from white to red to blue-->
<!--                as he steps in piles of strawberries, blueberries,-->
<!--                and other big messes...-->
<!--            </p>-->
<!--            <p><button>Add to Cart</button></p>-->
<!--        </div>-->
<!--        </div>-->
<!--        <div class ="column">-->
<!--        <div class="card">-->
<!--            <img class="img" th:src="@{/images/the-secret-history-of-food.jpg}"/>-->
<!--            <h3>The Secret History of Food: </h3>-->
<!--            <p>Matt Siegel</p>-->
<!--            <p>ISBN: 0062973215</p>-->
<!--            <p class="price">$20.19</p>-->
<!--            <p class="description">-->
<!--                Are we dipping our bread in lamp oil? Why are we masochistically drawn to foods that can hurt us,-->
<!--                like hot peppers? Far from being a classic American dish ...-->
<!--            </p>-->
<!--            <p><button>Add to Cart</button></p>-->
<!--        </div>-->
<!--    </div>-->
</div>
</form>
</body>
</html>

