
<!-- 
    https://codepen.io/quinlo/pen/YONMEa 
    https://www.w3schools.com/howto/howto_css_checkout_form.asp
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_labels
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

<html>
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<div  th:insert="navigation :: navigation"></div>
<form th:object="${user}" method="post">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" title="Email" th:field="*{email}" />

    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" name="password" title="OldPassword" th:field="*{password}" />

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" title="New password" th:field="*{newPassword}"/>
    
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" />
    
    <p class="form-actions">
    <input type="submit" value="Change Password" title="Change password" />
    </p>
    
    </form>
<br/>

</body>
</html>

