
<!-- 
    https://codepen.io/quinlo/pen/YONMEa 
    https://www.w3schools.com/howto/howto_css_checkout_form.asp
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_labels
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2
    https://developer.cybersource.com/hello-world/testing-guide-v1.html
    https://ebc2test.cybersource.com/ebc2/
-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta  charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Credit Cards</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>

<body>

<div  th:insert="navigation :: navigation"></div>

<!--Shipping Address-->
<div class="row">
    <div class="col-50">
        <div class="ccontainer">
            <h4>Thank you for your payment</h4>
            <h5>Your order will ship to </h5>
            <hr>
            <div class="message">
                <p>
                    <span th:text="|${firstname} ${lastname}|" /><br>
                    <span th:text="|${address} ${city} ${state} ${zip}|" /><br>
                    <span th:text="|Phone: ${phone}|" />
                </p>
            </div>
        </div>
    </div>

    <!--    Payment -->
    <div class="col-50">
        <div class="ccontainer">
            <h4>Your Credit Card <i class="fa fa-cc-visa"></i></h4>
            <hr>
            <div class="message">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">Card Number</th>
                        <th scope="col">Balance </th>
                        <th scope="col">Expiration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="|${card_num}|">Card Number</td>
                        <td th:text="|${card_balance}|">Balance</td>
                        <td th:text="|${exp} |">Expiration</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--<div >-->
<!--    <pre> <span th:text="${error}" /></pre>-->
<!--</div>-->


</body>
</html>

